/ {
	pwm_ir_led_sequencer: pwm-ir-led-sequencer {
		compatible = "pwm-ir-led-sequencer";
		pwms = <&pwm2 1 PWM_KHZ(36) PWM_POLARITY_NORMAL>;
	};

	remote_control_audio: remote-control-audio {
		compatible = "remote-control-rc5";
		
		ir-led-sequencer = <&pwm_ir_led_sequencer>;
	};

	remote_control_projector: remote-control-projector {
		compatible = "remote-control-benq-th534";

		ir-led-sequencer = <&pwm_ir_led_sequencer>;
	};

	remote_control_screen: remote-control-screen {
		compatible = "celexon-ev1527";
		tx-gpios = <&gpiof 13 GPIO_ACTIVE_HIGH>;
		otp-code = <0x3927E>;
	};
};

&timers2 {
	status = "okay";
	//st,prescaler = <10000>;

	pwm2: pwm {
		status = "okay";
        pinctrl-0 = <&tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};
