/ {
	remote_control_audio: remote-control-audio {
		compatible = "remote-control-rc5";

		pwms = <&pwm2 1 PWM_KHZ(36) PWM_POLARITY_NORMAL>;
	};
};

&timers2 {
	status = "okay";
	//st,prescaler = <10000>;

	pwm2: pwm {
		status = "okay";
        pinctrl-0 = <&tim2_ch1_pa0>;
		pinctrl-names = "default";
	};
};
